<div class="container">
    <div class="heading">
         <div class="col">Caps</div>
         <div class="col">Qunatity </div>
         <div class="col">Price($) </div>
    </div>
    <div class="table-row" ng-repeat="product in visibleData | pagedFilter:currentPage*pageSize | limitTo:pageSize">

        <div class="col">{{product.Name}}</div>

         <div class="col quantity" data-product="{{product}}"  id="{{product.Id}}_Qty"  ng-mouseenter='mouseEntered(product)'>
            <span ng-hide="product.Name === editQtyProdName" >{{product.Qty}} </span>
            <input type="text" ng-show="product.Name === editQtyProdName" ng-model="quantity">

        </div>

        <div class="col price" data-product="{{product}}"  id="{{product.Id}}_Price">
            <span ng-hide="product.Name === editPriceProdName" >{{product.Price}} </span>
            <input type="text" ng-show="product.Name === editPriceProdName" >
        </div>


    </div>


</div>
<div class="pagination">
    <input ng-disabled="currentPage === 0" type="button" value="Prev" ng-click="prev()" style="float:left; margin-top:10px">
   <!--  <input type="button" value="..."  style="float:left; margin:10px 29px"> -->
        <div  ng-repeat="i in getNumber(numberOfPages) track by $index">
            <a ng-class="{true : 'redClass',false :  'greenClass'}[currentPage === {{$index}}]" href="#" style="float:left; margin : 10px 29px;">{{$index+1}}</a>
        </div>
    <!-- <input type="button" value="..."  style="float:left; margin:10px 29px"> -->

    <input ng-disabled="currentPage >= visibleData.length/pageSize - 1" type="button" value="Next" ng-click="next()" style="float:left; margin-top:10px">
</div>